html,
body {
  margin: 0;
  font-family: "Montserrat", sans-serif;
  background-color: rgb(229, 229, 229);
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 4em;
  background-color: white;
}

.avatar-section {
  display: flex;
  align-items: center;
  gap: 1em;
}

.hero {
  display: flex;
}

.sidebar {
  display: flex;
  flex-direction: column;
  height: 100vh;
  background-color: white;
  width: 450px;
}

.section {
  display: flex;
  align-items: center;
  gap: 1em;
  padding: 0.5em 0;
  cursor: pointer;
  width: 100%;
}

.section > .icon {
  margin-left: 50px;
}

.section:hover,
.section:active {
  background-color: green;
  color: whitesmoke;
}

.section-title {
  font-weight: bold;
}

.charts {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  gap: 1em;
  padding: 1em;
}

.chart {
  background-color: white;
  height: 400px;
  width: 600px;
  /* padding: 1em; */
}
